<div class="card mt-4">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, officiis veritatis tenetur optio quas consequatur provident in repudiandae suscipit, dolor ratione quod, corrupti temporibus atque nesciunt. Architecto officiis tempore a in quas ad consequatur, quo cum ea minima odit error.</p>
    </div>
</div>