<div class="jumbotron mt-4">
  <h1 class="display-4">Diretory App!</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt est, veniam sint suscipit iste laboriosam, debitis quae ullam velit harum provident necessitatibus praesentium, impedit quis libero sapiente? Aliquam, nihil vel?</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/users/signup">Register</a>
  </p>
</div>